/* COLOR */
.myBackground {
    background: linear-gradient(to bottom, #009688 25%,#d9dbd5 25%,#d9dbd5 25%);
    height: 100vh;
    width: 100%;
}
.myColorContainer {
    background: rgba(234,234,234,255)
}
.textColorLightBleu {
    color: rgba(142,218,252,255)
}
.myColorLightBleu {
    background: rgba(142,218,252,255);
}
.mySendMessage {
    background: rgba(213,249,186,255);
}

/* SIZE */
.mySizeIcon {
    width: 4rem;
    height: 4rem;
}
.myTimeSize {
    font-size: 0.7rem;
}


/* EXTRA */
.myHoverflow {
    overflow-x: hidden;
    overflow-y: scroll;
}

.mySfondo {
    background-image: url('../sfondo.jpg');
    background-position: center;
}